- 
    let customers =[
        {
            name: 'Jane Cooper',
            company: 'Microsoft',
            tel: '(225) 555-0118',
            email: 'jane@microsoft.com',
            country: 'United States',
            status: 'Active'
        },

    ];

each customer in customers
        .list-item 
            .name= customer.name
            .company= customer.company 
            .tel= customer.tel
            .email= customer.email
            .country= customer.country
            .status= customer.status