- 
    let customers =[
        {
            name: 'Jane Cooper',
            company: 'Microsoft',
            tel: '(225) 555-0118',
            email: 'jane@microsoft.com',
            country: 'United States',
            status: 'Active'
        },
                {
            name: 'Floyd Miles',
            company: 'Yahoo',
            tel: '(205) 555-0100',
            email: 'floyd@yahoo.com',
            country: 'Kiribati',
            status: 'Inactive'
        },
        {
            name: 'Ronald Richards ',
            company: 'Adobe',
            tel: '(302) 555-0107',
            email: 'ronald@adobe.com',
            country: 'Israel',
            status: 'Inactive'
        },
        {
            name: 'Marvin McKinney',
            company: 'Tesla',
            tel: '(252) 555-0126',
            email: 'marvin@tesla.com',
            country: 'Iran',
            status: 'Active'
        },
        {
            name: 'Jerome Bell ',
            company: 'Google',
            tel: '(629) 555-0129',
            email: 'jerome@google.com',
            country: 'Réunion',
            status: 'Active'
        },
        {
            name: 'Kathryn Murphy ',
            company: 'Microsoft',
            tel: '(406) 555-0120',
            email: 'kathryn@microsoft.com',
            country: 'Curaçao',
            status: 'Active'
        },
        {
            name: 'Jacob Jones ',
            company: 'Yahoo',
            tel: '(208) 555-0112',
            email: 'jacob@yahoo.com',
            country: 'Brazil',
            status: 'Active'
        },
        {
            name: 'Kristin Watson',
            company: 'Facebook',
            tel: '(704) 555-0127',
            email: 'kristin@facebook.com',
            country: 'Åland Islands',
            status: 'Inactive'
        },

    ];

each customer in customers
        
        .list-item 
            span.name= customer.name
            span.company= customer.company 
            span.tel= customer.tel
            span.email= customer.email
            span.country= customer.country
            button.status= customer.status
        .table__line